@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    font-family: "Roboto", sans-serif;
    background-color: black;
}

li, a, button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2vw;
}

.navLinks{
    list-style: none;
}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: red;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    width: 3vw;
    height: 2vw;
    margin-left: 2vw;
}

#center{
    margin-top: 5vw;
    text-align: center;
}

#title{
    font-size: 2vw;
    color: white;
}

#description{
    font-size: 1.6vw;
    color: red;
}

.columnForm{
    display: flex;
    flex-direction: column;
    margin-left: 35vw;
}

#messageBox{
    height: 10vw;
    width: 30vw;
    background-color: white;
}

.rowForm{
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
}

#emailBox{
    width: 10vw;
    background-color: white;
}

#nameBox{
    width: 10vw;
    margin-left: 2vw;
    background-color: white;
}

button{
    margin-left: 2vw;
    width: 5.5vw;
    color: red;
    background-color: white;
    cursor: pointer;
}


